<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>authentication</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <listener>
    <listener-class>
      com.api.web.util.SessionListener
    </listener-class>
  </listener>
  
  <servlet>
    <display-name>SystemConfigurator</display-name>
    <servlet-name>sysconfig</servlet-name>
    <servlet-class>com.api.config.WebSystemConfigController</servlet-class>
     <init-param>
      <param-name>Environment</param-name>
      <param-value>DEV</param-value>
     </init-param>
     <init-param>
      <param-name>ContainerManagedPool</param-name>
      <param-value>true</param-value>
     </init-param>
     <init-param>
      <param-name>AppServerConfigSource</param-name>
      <param-value>/AppServer/config/RMT2UIServerConfig.xml</param-value>
     </init-param>
     <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
	    <servlet-name>unsecureRequestProcessor</servlet-name>
	    <servlet-class>com.api.jsp.controller.JspResponseController</servlet-class>
  </servlet>
  
   <servlet-mapping>
    <servlet-name>sysconfig</servlet-name>
    <url-pattern>/sysconfig</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>unsecureRequestProcessor</servlet-name>
    <url-pattern>/unsecureRequestProcessor/*</url-pattern>
  </servlet-mapping>
</web-app>